// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/bcm2835.h>

/ {
	compatible = "brcm,bcm2711";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			compatible = "kunbus,revpi-connect4", "brcm,bcm2711";

			leds {
				compatible = "gpio-leds";
				power_red {
					label = "power:1:fault";
					gpios = <&expander_core 0 GPIO_ACTIVE_HIGH>;
					linux,default-trigger = "power_red";
				};
				a1_red {
					label = "a1:red:status";
					gpios = <&expander_core 2 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a1_red";
				};
				a1_green {
					label = "a1:green:status";
					gpios = <&expander_core 1 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a1_green";
				};
				a1_blue {
					label = "a1:blue:status";
					gpios = <&expander_core 3 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a1_blue";
				};
				a2_red {
					label = "a2:red:status";
					gpios = <&expander_core 5 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a2_red";
				};
				a2_green {
					label = "a2:green:status";
					gpios = <&expander_core 4 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a2_green";
				};
				a2_blue {
					label = "a2:blue:status";
					gpios = <&expander_core 6 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a2_blue";
				};
				a3_red {
					label = "a3:red:status";
					gpios = <&expander_power 1 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a3_red";
				};
				a3_green {
					label = "a3:green:status";
					gpios = <&expander_power 0 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a3_green";
				};
				a3_blue {
					label = "a3:blue:status";
					gpios = <&expander_power 2 GPIO_ACTIVE_LOW>;
					linux,default-trigger = "a3_blue";
				};
			};
		};
	};

	/* PINMUX */
	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			i2c3_pins: i2c3_pins {
				/* SDA, SCL */
				brcm,pins     = <2 3>;
				brcm,function = <BCM2835_FSEL_ALT5>;
			};
			i2c6_pins: i2c6_pins {
				/* SDA (ID_SD), SCL (ID_SC)*/
				brcm,pins     = <0 1>;
				brcm,function = <BCM2835_FSEL_ALT5>;
			};
			spi6_pins: spi6_pins {
				/* MISO, MOSI, SCLK */
				brcm,pins     = <19 20 21>;
				brcm,function = <BCM2835_FSEL_ALT3>;
			};
			spi6_cs_pins: spi6_cs_pins {
				/* ksz9897, tpm */
				brcm,pins     = <16 18>;
				brcm,function = <BCM2835_FSEL_GPIO_OUT>;
			};
			tpm_pins: tpm_pins {
				/* IRQ */
				brcm,pins     = <10>;
				brcm,function = <BCM2835_FSEL_GPIO_IN>;
			};
			rs485_pins: rs485_pins {
				/* TX RX TX_EN TERM */
				brcm,pins     = <12 13 15 14>;
				brcm,function = <BCM2835_FSEL_ALT4
				                 BCM2835_FSEL_ALT4
				                 BCM2835_FSEL_ALT4
				                 BCM2835_FSEL_GPIO_OUT>;
				brcm,pull     = <BCM2835_PUD_OFF
				                 BCM2835_PUD_OFF
				                 BCM2835_PUD_DOWN
				                 BCM2835_PUD_DOWN>;
			};
			pb_uart_left_pins: pb_uart_left_pins {
				/* TX RX TX_EN */
				brcm,pins     = <4 5 7>;
				brcm,function = <BCM2835_FSEL_ALT4>;
				brcm,pull     = <BCM2835_PUD_OFF>;
			};
			pb_uart_right_pins: pb_uart_right_pins {
				/* TX RX TX_EN */
				brcm,pins     = <8 9 11>;
				brcm,function = <BCM2835_FSEL_ALT4>;
				brcm,pull     = <BCM2835_PUD_OFF>;
			};
		};
	};

	/* I2C3 */
	fragment@2 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3_pins>;
			clock-frequency = <400000>;
			status = "okay";

			expander_core: gpio@20 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6416";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			expander_power: gpio@21 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6416";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			rtc@51 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcf2129";
				reg = <0x51>;
				status = "okay";
				reset-source;
			};
		};
	};

	/* I2C6 */
	fragment@3 {
		target = <&i2c6>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c6_pins>;
			clock-frequency = <400000>;
			status = "okay";

			eeprom: eeprom@50 {
				/* 100kHz, 400kHz or 1MHz */
				compatible = "atmel,24c256";
				reg = <0x50>;
				pagesize = <64>;
				status = "okay";
			};
		};
	};

	/* SPI6 */
	fragment@4 {
		target = <&spi6>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi6_pins>, <&spi6_cs_pins>;
			cs-gpios = <&gpio 16 GPIO_ACTIVE_LOW>,
				   <&gpio 18 GPIO_ACTIVE_LOW>;
			status = "okay";

			ksz9897: ksz9897@0 {
				compatible = "microchip,ksz9897";
				reg = <0>;
				spi-max-frequency = <50000000>;
				spi-cpha;
				spi-cpol;
				reset-gpios = <&expander_core 13 GPIO_ACTIVE_LOW>;
				status = "okay";

				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					/* PORT 1 */
					port@0 {
						reg = <0>;
						label = "cpu";
						ethernet = <&genet>;
					};
					/* PORT 2 */
					port@1 {
						reg = <1>;
						label = "pileft";
					};
					/* PORT 3 */
					port@2 {
						reg = <2>;
						label = "piright";
					};
					/*
					 * PORT 4-7 unused
					 */
				};
			};

			tpm: tpm@1 {
				compatible = "infineon,slb9670";
				pinctrl-names = "default";
				pinctrl-0 = <&tpm_pins>;
				reg = <1>;
				spi-max-frequency = <1000000>;
				interrupt-parent = <&gpio>;
				#interrupt-cells = <2>;
				interrupts = <10 IRQ_TYPE_LEVEL_LOW>;
				status = "okay";
			};
		};
	};

	fragment@5 {
		target = <&uart5>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&rs485_pins>;
			status = "okay";
			linux,rs485-enabled-at-boot-time;
			rs485-term-gpios = <&gpio 14 GPIO_ACTIVE_LOW>;
		};
	};
	

	fragment@6 {
		target = <&uart3>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pb_uart_left_pins>;
			status = "okay";
			linux,rs485-enabled-at-boot-time;
		};
	};

	fragment@7 {
		target = <&uart4>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pb_uart_right_pins>;
			status = "okay";
			linux,rs485-enabled-at-boot-time;
		};
	};
};
