// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/bcm2835.h>

/ {
	compatible = "brcm,bcm2711";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			compatible = "kunbus,revpi-connect4", "brcm,bcm2711";
		};
	};

	/* PINMUX */
	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			i2c3_pins: i2c3_pins {
				/* SDA, SCL */
				brcm,pins     = <2 3>;
				brcm,function = <BCM2835_FSEL_ALT5>;
			};
			i2c6_pins: i2c6_pins {
				/* SDA (ID_SD), SCL (ID_SC)*/
				brcm,pins     = <0 1>;
				brcm,function = <BCM2835_FSEL_ALT5>;
			};
			spi6_pins: spi6_pins {
				/* MISO, MOSI, SCLK */
				brcm,pins     = <19 20 21>;
				brcm,function = <BCM2835_FSEL_ALT3>;
			};
			spi6_cs_pins: spi6_cs_pins {
			};
		};
	};

	/* I2C3 */
	fragment@2 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c3_pins>;
			clock-frequency = <400000>;
			status = "okay";

			expander_core: gpio@20 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6416";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			expander_power: gpio@21 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcal6416";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
				status = "okay";
			};

			rtc@51 {
				/* 100kHz, 400kHz */
				compatible = "nxp,pcf2129";
				reg = <0x51>;
				status = "okay";
			};
		};
	};

	/* I2C6 */
	fragment@3 {
		target = <&i2c6>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&i2c6_pins>;
			clock-frequency = <400000>;
			status = "okay";

			eeprom: eeprom@50 {
				/* 100kHz, 400kHz or 1MHz */
				compatible = "atmel,24c256";
				reg = <0x50>;
				pagesize = <64>;
				status = "okay";
			};
		};
	};

	/* SPI6 */
	fragment@4 {
		target = <&spi6>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi6_pins>, <&spi6_cs_pins>;
			status = "okay";
		};
	};
};
