/*
 * Device tree overlay for Revolution Pi by KUNBUS
 *
 * RevPi Connect SE
 */

#include "revpi-connect-overlay.dts"

/{
	compatible = "brcm,bcm2837";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			compatible = "kunbus,revpi-connect-se", "brcm,bcm2837",
				     "brcm,bcm2836";
			/delete-node/ regulator_pbrst;
		};
	};

	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			spi0_cs_pins: spi0_cs_pins {
				brcm,pins     = <36>;
				brcm,function = <BCM2835_FSEL_GPIO_OUT>;
				brcm,pull     = <BCM2835_PUD_OFF>;
			};
			/delete-node/ eth2_int_pins;
			/delete-node/ eth2_reset_pins;
		};
	};

	fragment@4 {
		target = <&spi0>;
		__overlay__ {
			cs-gpios = <&gpio 36 GPIO_ACTIVE_LOW>;
			/delete-node/ ethernet@1;
		};
	};

	__overrides__ {
		/delete-property/ pileft_mac_hi;
		/delete-property/ pileft_mac_lo;
	};
};
